<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.some.mvvmdemo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="tinker.sample.android.app.MainAppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".NearbyActivity"/>

        <activity android:name=".AnimActivity"/>

        <activity android:name=".HomeViewPagerActivity"/>

        <activity android:name=".http.RetrofitTestActivity"/>



        <activity android:name=".slideconflict.SlideConfictActivity"/>

        <activity android:name=".viewpager2.ViewPager2Activity"/>

        <service android:name=".service.TestServiceOne"/>

        <activity android:name=".touch.TouchActivity"/>

        <service android:name=".service.RemoteService"
            android:process=":remote"/>

        <activity android:name=".aidl.AIDLActivity"/>

        <activity android:name=".testkotlin.TestKotlinActivity"/>
        <activity android:name=".reflect.ReflectActivity"/>

        <activity android:name=".inflate.LayoutInflaterActivity"/>

        <activity android:name=".JniTestActivity"/>

        <activity android:name=".OOMTestActivity"/>

        <activity android:name=".hilt.HiltActivity"/>

        <activity android:name=".view.CakeViewActivity"
            android:taskAffinity="com.cakeview"/>

        <activity-alias
            android:name="CakeLauncherActivity"
            android:enabled="true"
            android:icon="@mipmap/race_but_history"
            android:label="cake"
            android:taskAffinity="com.cakeview"
            android:targetActivity="com.some.mvvmdemo.view.CakeViewActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <activity android:name=".view.FiveRingsActivity"
            android:launchMode="singleTask"
            android:taskAffinity="com.hkfuliao.chamet"
            android:allowTaskReparenting="true"/>

        <activity android:name=".proxy.DynamicProxyActivity"/>

        <activity android:name=".file.FileActivity"/>

    </application>

</manifest>